@import 'a-responsive-containers/entry/responsive.scss';


html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

#root {

    @include fixedSize(ww(), calc(wh() - var(--rMenuHeight)));

    font-size: T1();
    margin-top: var(--rMenuHeight);

    overflow-x: hidden;
    overflow-y: auto;

}

.content {
    max-width: rw(200);
    margin: auto;
}

.menu {
    position: fixed;
    width: ww();
    height: var(--rMenuHeight);
    left: 0;
    top: 0;
    background-color: teal;
    color: whitesmoke;
    font-size: H6();
}

.menu-items-container {
    display: flex;
    flex-direction: row;
    height: var(--rMenuHeight);
    align-items: center;
}

.menu-item {
    padding: 0 pad();
}

.menu-item:first-child {
    flex: 1;
}

html.no-scrollbar body::-webkit-scrollbar {
    display: none;
}

.columns-container {
    display: flex;
    flex-direction: var(--wColumnsContainerDirection);
}

.column {
    flex: 1;
    padding: pad(2) pad() 0;
}

.title {
    font-size: H4();
    font-weight: 500;
}

.sub-title {
    font-size: T2();
    color: #999999;
    padding-top: rx(8);
    padding-bottom: rx(36);
}

.text > div {
    padding-bottom: rx(20);
    text-align: justify;
}

.text > div:last-child {
    padding-bottom: rx(36);
}

iframe {
    width: 100%;
    height: uh(60);
    border-width: rx(8);
    border-radius: rx(16);
}